@font-face {
  font-family: 'Akzidenz-groteskPro-regular';
  src: url('~assets/fonts/AkzidenzGroteskPro-Regular.woff2') format('woff2'),
    url('~assets/fonts/AkzidenzGroteskPro-Regular.woff') format('woff'),
    url('~assets/fonts/AkzidenzGroteskPro-Regular.otf');
}

@font-face {
  font-family: 'Akzidenz-groteskPro-mdex';
  src: url('~assets/fonts/AkzidenzGroteskPro-MdEx.woff2') format('woff2'),
    url('~assets/fonts/AkzidenzGroteskPro-MdEx.woff') format('woff'),
    url('~assets/fonts/AkzidenzGroteskPro-MdEx.otf');
}

@font-face {
  font-family: 'Akzidenz-groteskPro-ext';
  src: url('~assets/fonts/AkzidenzGroteskPro-ext.woff2') format('woff2'),
    url('~assets/fonts/AkzidenzGroteskPro-ext.woff') format('woff'),
    url('~assets/fonts/AkzidenzGroteskPro-ext.otf');
}
