@import 'variables';
@import 'mixins';
@import 'fonts';

html {
  font-size: 10px;
}

body {
  font-family: $regular;
  padding: 0;
  margin: 0;
}
.__Nuxt {
  width: 100vw;
}
header {
  padding: 5%;
}
.header-container {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 3px;
  padding: 3px 0 3px;
  border-bottom: 2px solid black;
}

.header-container a {
  font-size: 3rem;
  min-width: 14rem;

  padding-bottom: 3rem;
  position: relative;
  text-decoration: none;
  color: black;
  font-family: 'Akzidenz-groteskPro-ext';

  &:hover {
    &::after {
      @include menuAfter;
    }
  }
}

.selected {
  &::after {
    @include menuAfter;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20rem;
  width: 100%;
}

.circle-container {
  display: grid;
  grid-template-columns: 8fr 1fr;
  padding-right: 10rem;
  grid-template-rows: repeat(7, calc(80vh / 7));
}

.block {
  scroll-behavior: smooth;
}

.circle {
  position: relative;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  width: 11rem;
  text-align: center;
  grid-row: 6/7;
  grid-column: 2/3;
}

.circle::after {
  content: '';
  position: absolute;
  left: -0.5rem;
  top: -4rem;
  background: black;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  z-index: -1;
}

#about {
  @include standardGridContainer;
  row-gap: 25%;
  height: auto;
  grid-template-rows: 40rem 40rem;
}
.logo {
  font-size: 4rem;
  line-height: 2rem;
  font-family: $mdex;
}

.title-big {
  font-size: 6rem;
  font-style: normal;
  font-weight: 500;
  font-family: $mdex;
}

.paragraph {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 400;
  font-family: $ext;
  text-align: justify;
  text-justify: inter-word;
}
.learn-more {
  position: absolute;
  left: 0;
  bottom: -5rem;
  padding: 0 5%;
  font-size: 3rem;
  position: relative;
  width: fit-content;
  color: white;
  font-family: $ext;
}

.elipse {
  position: absolute;
  top: -35%;
  left: -3px;
  border: 1px solid black;
  border-top-left-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  transform: rotate(-5.52deg);
  width: 100%;
  height: 7rem;
  background: black;
  z-index: -1;
}
